.hov_glow:hover {
  background-color: var(--color-background-soft);
}

.hov_glow_col1:hover {
  background-color: var(--color1);
  color: white;
}

.bgvcol1.hov_glow:hover {
  background-color: var(--color1-soft);
}

.ripple > div {
  border-radius: 50%;
  background-color: var(--color-background-mute);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.4s linear;
  /* z-index: -1; */
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
.hlt {
  /* box-shadow: 0 0 0 30px green; */
}
.hlt {
  transition: box-shadow 0.5s;
}
.hlt:active {
  box-shadow: 0 0 0 1px var(--color-text);
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

.list1-move, /* apply transition to moving elements */
.list1-enter-active,
.list1-leave-active {
  transition: all 0.5s ease;
}

.list1-enter-from,
.list1-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list1-leave-active {
  position: absolute;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

.list1-move, /* apply transition to moving elements */
.list1-enter-active,
.list1-leave-active {
  transition: all 0.5s ease;
}

.list1-enter-from,
.list1-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list1-leave-active {
  position: absolute;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease !important;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0 !important;
}

/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
  transition: all 0.2s ease-out !important;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1) !important;
}

.slide-fade-enter-from {
  transform: translateX(50px) !important;
  opacity: 0 !important;
}

.slide-fade-leave-to {
  transform: translateX(-50px) !important;
  opacity: 0 !important;
}
