/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color1: rgb(255, 54, 90);
  --color1-soft: rgb(255, 107, 134);

  --color2: rgb(255, 164, 27);
  --color2-soft: rgb(255, 153, 0);
}
#main {
  --vt-c-white: #ffffff;
  --vt-c-white-2: #e6e6e6;
  --vt-c-white-soft: #e1e0e0;
  --vt-c-white-mute: #c6c6c6;
  --vt-c-white-hsl: 0, 0%, 100%;
  --vt-c-white-2-hls: 0, 0%, 90%;
  --vt-c-white-soft-hsl: 0, 2%, 88%;
  --vt-c-white-mute-hsl: 0, 0%, 78%;
  --vt-c-black: #040404;
  --vt-c-black-2: #171717;
  --vt-c-black-soft: #282828;
  --vt-c-black-mute: #3d3d3d;
  --vt-c-black-hsl: 0, 0%, 9%;
  --vt-c-black-2-hsl: 0, 0%, 12%;
  --vt-c-black-soft-hsl: 0, 0%, 16%;
  --vt-c-black-mute-hsl: 0, 0%, 22%;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

#main {
  --top-padding: 3.5rem;
  --color1: rgb(255, 22, 64);
  --color1-soft: rgb(209, 0, 38);
  --color2: rgb(255, 153, 0);
  --color2-soft: rgb(255, 164, 27);

  --color3: black;
  --color4: red;

  --color-background: var(--vt-c-white);
  --color-background-2: var(--vt-c-white-2);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-background-hsl: var(--vt-c-white-hsl);
  --color-background-2-hsl: var(--vt-c-white-2-hsl);
  --color-background-soft-hsl: var(--vt-c-white-soft-hsl);
  --color-background-mute-hsl: var(--vt-c-white-mute-hsl);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-text-light: #46586a7e;

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */

/* } */
#main.dark {
  --color-background: var(--vt-c-black);
  --color-background-2: var(--vt-c-black-2);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-background-hsl: var(--vt-c-black-hsl);
  --color-background-2-hsl: var(--vt-c-black-2-hsl);
  --color-background-soft-hsl: var(--vt-c-black-soft-hsl);
  --color-background-mute-hsl: var(--vt-c-black-mute-hsl);

  --color-text: var(--vt-c-text-dark-2);
  --color-text-light: rgba(235, 235, 235, 0.296);

  --color1: rgb(255, 54, 90);
  --color1-soft: rgb(255, 107, 134);

  --color2: rgb(255, 164, 27);
  --color2-soft: rgb(255, 153, 0);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  color: inherit;
  padding: 0;
}

button {
  outline: none;
  border: none;
  position: relative;
  color: var(--vt-c-white-mute);
  background-color: inherit;
}

.bgvcol1 {
  background-color: var(--color1);
}
.bgvcol2 {
  background-color: var(--color2);
}
.vcol1 {
  color: var(--color1);
}

#main {
  color: var(--color-text);
  background: var(--color-background-2);
  min-height: 100vh;

  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;

  /* font-size: 15px; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rbtn {
  border-radius: 10px;
}
.bgcol {
  background-color: var(--color-background);
}
.bgmute {
  background-color: var(--color-background-mute);
}
.bgsoft {
  background-color: var(--color-background-soft);
}
.bg2 {
  background-color: var(--color-background-2);
}
