:root {
  --top_nav_height: 3.5rem;
  --max1500: min(1500px, 100%);
  --sdw2: 19px 11px 8px rgba(0, 0, 0, 0.28);
  --sdw1: 2px 2px 6px rgba(0, 0, 0, 0.28);
  --pgpadding1: 2rem;
  --p_img_size: 40px;
}

.mxpw {
  width: 100%;
}
.mxph {
  height: 100%;
}
.fith {
  height: calc(100% - var(--top_nav_height));
}
.mxvh {
  min-height: 100vh;
}
.mxvw {
  width: 100vw;
}
.l-flt {
  float: left;
}
.r-flt {
  float: right;
}

.mgl1 {
  margin-left: 1rem;
}
.mgl05 {
  margin-left: 0.5rem;
}
.mgr1 {
  margin-right: 1rem;
}
.mgr05 {
  margin-right: 0.5rem;
}
.p1 {
  padding: 1rem;
}
.p3,
.p33 {
  padding: 3rem;
}
.pt1 {
  padding-top: 1rem;
}
.pt2 {
  padding-top: 2rem;
}
.pb1 {
  padding-bottom: 1rem;
}
.ptba {
  margin-block: auto;
}
.pb2 {
  padding-bottom: 2rem;
}
.pb50,
.pb50px {
  padding-bottom: 50px;
}
.pb10 {
  padding-bottom: 10rem;
}
.pb100 {
  padding-bottom: 100px;
}
.pos_rel {
  position: relative;
}
.pos_fix {
  position: fixed;
}
.pos_abs {
  position: absolute;
}
.xy00 {
  top: 0px;
  left: 0px;
}
.z-1 {
  z-index: -1;
}
.pd8 {
  padding: var(--fs8) var(--fs8);
}
.password {
  -webkit-text-security: disc !important;
}
.gp2rem {
  gap: 2rem;
}
.gp3rem {
  gap: 3rem;
}
.gp4rem {
  gap: 4rem;
}
.gp5rem {
  gap: 5rem;
}
.gp1rem {
  gap: 1rem;
}
.gp05rem {
  gap: 0.5rem;
}
.rgp05rem {
  row-gap: 0.5rem;
}
.rgp2rem {
  row-gap: 2rem;
}
.btn1,
.pbtn {
  padding: 0.3rem 0.7rem;
}
.pbtn {
  padding: 0.6rem 1rem;
}
.pbtn1 {
  padding: 0.4rem 0.7rem;
}
.rbtn {
  border-radius: 6px;
}
.bg_col1 {
  background: var(--col1);
}
.max1500 {
  width: min(1500px, 100%);
}
.max1000 {
  width: min(1000px, 100%);
}
.max1100 {
  width: min(1100px, 100%);
}
.max1200 {
  width: min(1200px, 100%);
}
.max1300 {
  width: min(1300px, 100%);
}
.bold {
  font-weight: 900;
}
.bold800 {
  font-weight: 800;
}
.bold700 {
  font-weight: 700;
}
.bold600 {
  font-weight: 600;
}
.bold500 {
  font-weight: 500;
}

.pglr {
  padding-inline: var(--pgpadding1);
}
.pgl0 {
  padding-inline: 0;
}

@media screen and (max-width: 699px) {
  :root {
    --pgpadding1: 1.6rem;
  }
  .hide_smmall {
    display: none;
  }
}
.cursor_non {
  cursor: default;
}

.cursor_pointer {
  cursor: pointer;
}
.point_non {
  pointer-events: none;
}

.cursor_ldd {
  cursor: progress;
}

.algn_c {
  text-align: center;
}
.algn_j {
  text-align: justify;
}
.algn_l {
  text-align: left;
}
.algn_b {
  text-align: end;
}
.mta,
.mt_auto {
  margin-top: auto;
}
.block {
  display: block;
}
.inline_block {
  display: inline-block;
}
.tb_cp {
  display: table-caption;
}
.b0 {
  bottom: 0px;
}
.sdw {
  box-shadow: 2px 2px 8px 0px #ababab;
}
.sdw1 {
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
.lh1 {
  line-height: 1.1;
}
.lh101 {
  line-height: 1.2;
}
.lh102 {
  line-height: 1.3;
}
.lh103 {
  line-height: 1.3;
}
.mb2 {
  margin-bottom: 2rem;
}
.ml1 {
  margin-left: 1rem;
}
.ml_auto {
  margin-left: auto;
}

.mr1 {
  margin-right: 1rem;
}
.mr_auto {
  margin-right: auto;
}
.ptb55 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.ptb105 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.bbtn {
  background-color: black;
}
.btn2 {
  padding: 1rem 2rem;
}
/* .btn2{
      padding:1rem 2rem;
    } */
.rbtn {
  border-radius: 30px;
}
.no_bg {
  background: none;
}
.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}
.mt5 {
  margin-top: 5rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mb3 {
  margin-bottom: 3rem;
}
.mb5 {
  margin-bottom: 5rem;
}
.block {
  display: block;
}
.max700 {
  width: min(700px, 100%);
}
.max800 {
  width: min(800px, 100%);
}
.max350 {
  width: min(350px, 100%);
}
.max500 {
  width: min(500px, 100%);
}
.max400 {
  width: min(400px, 100%);
}
.max100 {
  width: min(100px, 100%);
}

.max200 {
  width: min(200px, 100%);
}
.max300 {
  width: min(300px, 100%);
}

.p12 {
  padding: 1rem 2rem;
}
.p052 {
  padding: 0.5rem 1rem;
}
.p04105 {
  padding: 0.4rem 1.5rem;
}
.p04106 {
  padding: 0.6rem 2rem;
}
.p21 {
  padding: 2rem 1rem;
}
.p13 {
  padding: 1rem 3rem;
}
.br10 {
  border-radius: 10px;
}
.br5 {
  border-radius: 5px;
}
.bd_rdus_25,
.br25 {
  border-radius: 25px;
}
.pos_aps {
  position: absolute;
}
.pos_sticky {
  position: -webkit-sticky;
  position: sticky;

  top: 0;
}
.opc_05 {
  opacity: 0.5;
}
.opc_07 {
  opacity: 0.7;
}
.opc_08 {
  opacity: 0.8;
}
.no_bd {
  border: none;
}
.bo_bg {
  background: none;
}
.bbd5 {
  border: 5px solid black;
}
.bbd2 {
  border: 2px solid black;
}
.bd1 {
  border: 1px solid var(--col_blk);
}
.bd2 {
  border: 2px solid var(--col_blk);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9000;
  background: rgba(0, 0, 0, 0.595);
}
.scroll {
  overflow: scroll;
}
.z-i_1999 {
  z-index: 1999;
}
.plr1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.plr2 {
  padding-left: 2em;
  padding-right: 2rem;
}
.plr3 {
  padding-left: 3em;
  padding-right: 3rem;
}
.plr4 {
  padding-left: 4em;
  padding-right: 4rem;
}
.plr5 {
  padding-inline: 5rem;
}
.ptb1 {
  padding-block: 1rem;
}
.ptb2 {
  padding-block: 2rem;
}
.ptb3 {
  padding-block: 3rem;
}
.ptb4 {
  padding-block: 4rem;
}
.ptb6 {
  padding-block: 6rem;
}
.ptb7 {
  padding-block: 7rem;
}
.ptb8 {
  padding-block: 8rem;
}
.ptb9 {
  padding-block: 9rem;
}
.ptb10 {
  padding-block: 10rem;
}
.ptb11 {
  padding-block: 11rem;
}
.ptb12 {
  padding-block: 12rem;
}
.ptb13 {
  padding-block: 13rem;
}
.ptb14 {
  padding-block: 14rem;
}
.ptb15 {
  padding-block: 15rem;
}
.ptb16 {
  padding-block: 16rem;
}
.ptb17 {
  padding-block: 17rem;
}
.ptb18 {
  padding-block: 18rem;
}
.ptb19 {
  padding-block: 19rem;
}
.ptb20 {
  padding-block: 20rem;
}
.pt20 {
  padding-top: 20rem;
}
.lh104 {
  line-height: 1.4;
}
.no_wrap {
  white-space: nowrap;
}
.txt_sdw1 {
  text-shadow:
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
.overflow_hidden {
  overflow: hidden;
}
.overflow_scroll {
  overflow: scroll;
}
.overflowx_hidden {
  overflow-x: hidden;
}

.link10.is-active:after,
.link10:active:after,
.link10:focus:after,
.link10:hover:after {
  transform: translateY(0);
  opacity: 1;
}

.link10.is-active,
.link10:active,
.link10:focus,
.link10:hover {
  color: var(--red);
}

.link10 {
  position: relative;
  text-decoration: none;
  color: rgb(34, 12, 231);
  transition: color 0.15s ease-in-out;
}

.link10:hover {
  background-size: 100% 100%;
  cursor: pointer;
}

.link10:after {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 3px;
  opacity: 0;
  transform: translateY(-150%);
  transition:
    transform 0.15s ease-in-out,
    opacity 0.15s ease-in-out;
  background-color: var(--red);
}
.s1rem {
  width: 2rem;
  height: 2rem;
}

.round {
  border-radius: 50%;
}
.round1 {
  border-radius: 5px;
}
.bg_red {
  background-color: red;
}
.pil {
  padding-inline: 1rem;
}
.pil2 {
  padding-inline: 2rem;
}
.pi05 {
  padding-inline: 0.5rem;
}
.pl1 {
  padding-left: 1rem;
}
.z1 {
  z-index: 1;
}

.text_nowrap {
  text-wrap: nowrap;
}
.ripple {
  --rip_startx: 50%;
  --rip_starty: 50%;
  overflow: hidden;
  position: relative;
  display: block;
  /* background: rgb(246, 150, 7); */
}
.txt-sdw-blk {
  text-shadow: 0px 0px black;
}
.bg-blur-backdrop {
  background: hsl(var(--color-background-hsl), 0.3);
  transition: opacity 0.3s ease-out;
  visibility: visible;
  opacity: 1;
  /* background: rgba(0, 0, 0, 0.3); */

  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}
.nopoint {
  pointer-events: none;
}
.round {
  border-radius: 50%;
}
.p_icon {
  width: var(--p_img_size);
}
.plr0 {
  padding-inline: 0px;
}
.no_point {
  pointer-events: none;
}

.dd_to_left_i > .dd_menu {
  right: 0px !important;
  left: unset !important;
}
